@charset "ISO-8859-1";



.loginForma {

  position: relative;
  background: #FFFFFF;
  width: 750px;
  margin:  auto;
  margin-top: 300px;
  padding: 12px;
  text-align: center; 
  border: 2px solid black;
  border-radius: 20px;
  padding: 40px ;
 
  vertical-align:middle;
  font-size: 30px;
  
  
   display: flex;
   justify-content: center;
   align-items: center;
  
  
}


.loginForma table td    {  text-align: left;}

.loginInput{
	font-size: 20px;
	width : 300px;
	height : 50px;
	 margin:  15px;
	text-align: left;
}


.button {
 	 background-color: #71c556;
 	 font-size: 20px;
 	 color: white;
 	 border-radius: 10px;
 	 column-count: 2;
 	 border: 2px solid black;

}





.button-3 {
  margin:  15px;
  appearance: none;
  background-color: #2ea44f;
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  font-size: 25px;
  font-weight: 600;
  line-height: 30px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
}

.button-3:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}

.button-3:hover {
  background-color: #2c974b;
}

.button-3:focus {
  box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
  outline: none;
}

.button-3:disabled {
  background-color: #94d3a2;
  border-color: rgba(27, 31, 35, .1);
  color: rgba(255, 255, 255, .8);
  cursor: default;
}

.button-3:active {
  background-color: #298e46;
  box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}












