@charset "ISO-8859-1";

tr.selectedMembershipClass{
	
	background-color: #A7C942;
    color: #ffffff;
	
	
}

.userInfo{
	
	text-align: left;
	font-size: 20px;
	padding-top: 5px;
	padding-bottom:5px;
	padding-right:30px;
	
}
.memberships th {
    font-weight : bold;
    padding-top: 5px;
    padding-bottom: 4px;
    background-color: #A7C942;
    color: #ffffff;
  
}


.memberships {
    text-align: center;
    border-collapse: collapse;
    margin-top : 50px;
  	margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    font-family: 'Verdana';
    width: 80%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
	background-color: #ffffff;;
}

.memberships td, .memberships th {
    padding: 12px 15px;
}

.memberships th {
    padding-top: 5px;
    padding-bottom: 4px;
    background-color: #333;
  	color: #f2f2f2;
    font-size: 25px;
  
}

.memberships tr.alt td {
    color: #000000;
    background-color: #EAF2D3;
}

.memberships tr:hover {

    background-color: #babcbd;
	 cursor: pointer;
}

.img-box{
		margin: 0px; 
        width: 70px;
   		height : 70px;
    }
    .img-box img{
        display: block;
    }

.activeMembership{

	text-align: left;
	font-size: 20px;
	padding-top: 5px;
	padding-bottom:5px;	
	padding-left:30px;
}

.membershipButton button{
	
	margin: 20px;
	font-size: 25px;
	cursor: pointer;
}
	
h2{
	font-size: 30px;
	padding-top: 30px;
	padding-bottom:5px;
		
}

*{
    margin: 0%;
    box-sizing: border-box;
    overflow: auto;
    font-family: 'Verdana';
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    
}


body{
	background-color:  #71c556;
	text-align: center;
}


h1{
	text-align: center;
	font-family: Verdana;
	color: pink;
}

nav{
	align-items : center;
	padding : 20px;
	
}

.navbar a{
	text-align: center;
	color:pink;
	font-size: 20px;
	font-family: Verdana;
}

.registration-part{
    width: 50%;
    margin-left:auto;
    margin-right: auto;
    margin-top: 20px;
    padding: 20px;
    border-radius: 5px;
    
}

.input-box{
    margin: 10px;
    font-size: large;
}

.button{
	
	padding: 20px;
	
}

.gender{
    margin-left: 10px;
    font-size: large;
}

.radio{
    margin:10px;
    font-size: medium;
}

.logovanje-button{
	margin: 20px;
	padding: 10px;
}

.editData{
	
	margin: 20px;
}


